/* Common styles for all pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
  }
  header {
    background: #2c3e50;
    color: #fff;
    padding: 20px 10%;
    text-align: center;
  }
  header h1 {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
    background: #34495e;
    padding: 10px 0;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: #fff;
  }
  